# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js / Node
signal-app/node_modules
signal-app/.next/
signal-app/out/
signal-app/build
signal-app/.vercel
signal-app/*.tsbuildinfo
signal-app/next-env.d.ts

# Env files
signal-app/.env*

# Misc
context.bin
*.pem
